In [1]:
import numpy as np
import pandas as pd

different choices for indexing

In [9]:
df = pd.DataFrame({'A':[1,2,3,4,5] ,
                  'B':[5,6,7,8,9]} , index=[1,'fei',3,4,5])

In [10]:
df

     A  B
1    1  5
fei  2  6
3    3  7
4    4  8
5    5  9

In [11]:
df.loc['fei']

A    2
B    6
Name: fei, dtype: int64

In [12]:
df.loc[['fei',1]]

     A  B
fei  2  6
1    1  5

In [20]:
df.loc[1:3] #noted 这里的切片包含两边区间端点

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>

loc基于label的
iloc基于index integer的

In [21]:
df.iloc[1]

A    2
B    6
Name: fei, dtype: int64

In [22]:
df.iloc[[1,2,3]]

     A  B
fei  2  6
3    3  7
4    4  8

In [23]:
df.iloc[1:4]

     A  B
fei  2  6
3    3  7
4    4  8

In [25]:
df.iloc[[True,True,False,True,False]]

     A  B
1    1  5
fei  2  6
4    4  8

In [31]:
df.loc['fei' , :'A']#包括区间两端

A    2
Name: fei, dtype: int64

In [32]:
#df.loc[row_indexer , column_indexer]

## Basic

In [33]:
dates = pd.date_range('1/1/2000' , periods=8)
df = pd.DataFrame(np.random.randn(8,4) , index=dates , columns=['A','B','C','D'])
df

                   A         B         C         D
2000-01-01  0.063820  1.047226  0.307098 -1.178538
2000-01-02 -0.195371 -1.137979  0.532401 -1.722731
2000-01-03  1.991342 -0.832638 -1.069783 -0.777746
2000-01-04 -0.331226  0.509602  1.639040 -0.755916
2000-01-05 -1.480722 -0.632934 -1.158568  0.626273
2000-01-06 -0.621602  0.961984  0.417753  0.071832
2000-01-07 -0.927998 -0.192864 -0.202609 -0.695799
2000-01-08  1.396719  0.466507  0.824763 -1.009528

In [35]:
type(dates[1])

pandas._libs.tslib.Timestamp

In [36]:
s = df['A']

In [38]:
s[dates[5]]

-0.62160221725991505

In [39]:
panel = pd.Panel({'one':df , 'two':df-df.mean()})

In [41]:
panel['one']

                   A         B         C         D
2000-01-01  0.063820  1.047226  0.307098 -1.178538
2000-01-02 -0.195371 -1.137979  0.532401 -1.722731
2000-01-03  1.991342 -0.832638 -1.069783 -0.777746
2000-01-04 -0.331226  0.509602  1.639040 -0.755916
2000-01-05 -1.480722 -0.632934 -1.158568  0.626273
2000-01-06 -0.621602  0.961984  0.417753  0.071832
2000-01-07 -0.927998 -0.192864 -0.202609 -0.695799
2000-01-08  1.396719  0.466507  0.824763 -1.009528

In [42]:
df[['A','D']]

                   A         D
2000-01-01  0.063820 -1.178538
2000-01-02 -0.195371 -1.722731
2000-01-03  1.991342 -0.777746
2000-01-04 -0.331226 -0.755916
2000-01-05 -1.480722  0.626273
2000-01-06 -0.621602  0.071832
2000-01-07 -0.927998 -0.695799
2000-01-08  1.396719 -1.009528

In [43]:
df[['B' , 'A']] = df[['A' , 'B']] #交换两列

In [44]:
df

                   A         B         C         D
2000-01-01  1.047226  0.063820  0.307098 -1.178538
2000-01-02 -1.137979 -0.195371  0.532401 -1.722731
2000-01-03 -0.832638  1.991342 -1.069783 -0.777746
2000-01-04  0.509602 -0.331226  1.639040 -0.755916
2000-01-05 -0.632934 -1.480722 -1.158568  0.626273
2000-01-06  0.961984 -0.621602  0.417753  0.071832
2000-01-07 -0.192864 -0.927998 -0.202609 -0.695799
2000-01-08  0.466507  1.396719  0.824763 -1.009528

In [ ]:
df.loc[: , ['B','A']] = df[['A' , 'B']] #不会发生交换
df.loc[: , ['B','A']] = df[['A' , 'B']].values #能交换 正确操作

# attribute access

In [45]:
#点 · 运算符进行访问
#类似访问成员变量 成员函数
sa = pd.Series([1,2,3] , index=list('abc'))
dfa = df.copy()

In [46]:
sa.b

2

In [48]:
dfa.A

2000-01-01    1.047226
2000-01-02   -1.137979
2000-01-03   -0.832638
2000-01-04    0.509602
2000-01-05   -0.632934
2000-01-06    0.961984
2000-01-07   -0.192864
2000-01-08    0.466507
Freq: D, Name: A, dtype: float64

In [50]:
panel.one

                   A         B         C         D
2000-01-01  0.063820  1.047226  0.307098 -1.178538
2000-01-02 -0.195371 -1.137979  0.532401 -1.722731
2000-01-03  1.991342 -0.832638 -1.069783 -0.777746
2000-01-04 -0.331226  0.509602  1.639040 -0.755916
2000-01-05 -1.480722 -0.632934 -1.158568  0.626273
2000-01-06 -0.621602  0.961984  0.417753  0.071832
2000-01-07 -0.927998 -0.192864 -0.202609 -0.695799
2000-01-08  1.396719  0.466507  0.824763 -1.009528

In [51]:
#还可以直接进行赋值 重新进行赋值
sa.a=5

In [52]:
sa

a    5
b    2
c    3
dtype: int64

In [53]:
dfa.A = list(range(len(dfa.index)))
#dfs['A'] 进行赋值 如果column不存在 直接创建新的column

In [54]:
dfa

            A         B         C         D
2000-01-01  0  0.063820  0.307098 -1.178538
2000-01-02  1 -0.195371  0.532401 -1.722731
2000-01-03  2  1.991342 -1.069783 -0.777746
2000-01-04  3 -0.331226  1.639040 -0.755916
2000-01-05  4 -1.480722 -1.158568  0.626273
2000-01-06  5 -0.621602  0.417753  0.071832
2000-01-07  6 -0.927998 -0.202609 -0.695799
2000-01-08  7  1.396719  0.824763 -1.009528

In [56]:
range(2)

range(0, 2)

In [57]:
x = pd.DataFrame({'x':[1,2,3] , 'y':[3,4,5]})

In [58]:
x

   x  y
0  1  3
1  2  4
2  3  5

In [63]:
x.iloc[1] = dict(x=9 , y=9)

In [64]:
x

   x  y
0  1  3
1  9  9
2  3  5

In [65]:
df = pd.DataFrame({'one':[1,2,3]})
df.two = [4,5,6]

In [66]:
df #不允许给不存在的column分配值

   one
0    1
1    2
2    3

# slicing ranges

In [67]:
#这里的切片技术[] 和ndarray是一样的

In [69]:
type(s)

pandas.core.series.Series

In [70]:
s

2000-01-01    1.047226
2000-01-02   -1.137979
2000-01-03   -0.832638
2000-01-04    0.509602
2000-01-05   -0.632934
2000-01-06    0.961984
2000-01-07   -0.192864
2000-01-08    0.466507
Freq: D, Name: A, dtype: float64

In [71]:
s[1]

-1.1379788894599452

In [72]:
s[::-1] #逆序

2000-01-08    0.466507
2000-01-07   -0.192864
2000-01-06    0.961984
2000-01-05   -0.632934
2000-01-04    0.509602
2000-01-03   -0.832638
2000-01-02   -1.137979
2000-01-01    1.047226
Freq: -1D, Name: A, dtype: float64

In [73]:
s2 = s.copy()

In [74]:
s2

2000-01-01    1.047226
2000-01-02   -1.137979
2000-01-03   -0.832638
2000-01-04    0.509602
2000-01-05   -0.632934
2000-01-06    0.961984
2000-01-07   -0.192864
2000-01-08    0.466507
Freq: D, Name: A, dtype: float64

In [75]:
s2[:5] = 0

In [76]:
s2

2000-01-01    0.000000
2000-01-02    0.000000
2000-01-03    0.000000
2000-01-04    0.000000
2000-01-05    0.000000
2000-01-06    0.961984
2000-01-07   -0.192864
2000-01-08    0.466507
Freq: D, Name: A, dtype: float64

In [77]:
#dataframe也可以进行切片操作
#是以row的角度进行切片的

In [78]:
df[:3]

   one
0    1
1    2
2    3

In [80]:
df[::-1]

   one
2    3
1    2
0    1

# selection by label

In [81]:
#方法是否返回引用或副本 取决上下文
#loc方法是严格的
df1 = pd.DataFrame(np.random.randn(5,4),
                  columns=list('ABCD'),
                  index=pd.date_range('2013/1/1' ,periods=5))

In [82]:
df1

                   A         B         C         D
2013-01-01 -1.504521  0.293673  0.551816  1.559645
2013-01-02 -2.032191  0.732975  0.132485 -0.244237
2013-01-03  0.165844  0.362301 -0.447574  0.527044
2013-01-04  1.238460 -0.362937 -1.134628  0.967770
2013-01-05 -2.182242 -0.593832  0.765212 -0.129836

In [83]:
df1.loc[2:3] #不能访问 loc需要label进行访问

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.datetimes.DatetimeIndex'> with these indexers [2] of <class 'int'>

In [85]:
df1.loc['20130102' : '20130104'] #注意这里 包括区间两端

                   A         B         C         D
2013-01-02 -2.032191  0.732975  0.132485 -0.244237
2013-01-03  0.165844  0.362301 -0.447574  0.527044
2013-01-04  1.238460 -0.362937 -1.134628  0.967770

# loc对于series的作用效果

In [86]:
s1 = pd.Series(np.random.randn(6) , index=list('abcdef'))
s1

a    0.446619
b   -1.248144
c   -0.179668
d   -1.476345
e   -1.012762
f    0.018159
dtype: float64

In [87]:
s1.loc['c':]

c   -0.179668
d   -1.476345
e   -1.012762
f    0.018159
dtype: float64

In [ ]:
s1.loc['b']
s1.loc['c':] = 0 #重新赋值

# dataframe的loc作用

In [88]:
df1 = pd.DataFrame(np.random.randn(6,4) ,
                  index=list('abcdef'),
                  columns=list('ABCD'))

df1

          A         B         C         D
a  1.437627  0.301227  1.985065 -0.893177
b  0.274814  0.246818  1.629151 -0.136928
c  0.201216  0.427174 -0.745985  0.872468
d  0.368887 -0.716919 -1.163343 -0.119478
e  0.912222 -1.299536 -0.577605  1.854406
f  0.636869 -1.507104  0.645968 -1.497702

In [90]:
df1.loc[['a','b','c'] , :]

          A         B         C         D
a  1.437627  0.301227  1.985065 -0.893177
b  0.274814  0.246818  1.629151 -0.136928
c  0.201216  0.427174 -0.745985  0.872468

In [92]:
#切片访问
df1.loc['d': , 'A':'C'] #loc 的数据访问 是包含区间两端的

          A         B         C
d  0.368887 -0.716919 -1.163343
e  0.912222 -1.299536 -0.577605
f  0.636869 -1.507104  0.645968

In [93]:
df1.loc['a']

A    1.437627
B    0.301227
C    1.985065
D   -0.893177
Name: a, dtype: float64

In [94]:
df1.loc['a'] > 0

A     True
B     True
C     True
D    False
Name: a, dtype: bool

In [99]:
df1.loc[: , df1.loc['a']>0]

          A         B         C
a  1.437627  0.301227  1.985065
b  0.274814  0.246818  1.629151
c  0.201216  0.427174 -0.745985
d  0.368887 -0.716919 -1.163343
e  0.912222 -1.299536 -0.577605
f  0.636869 -1.507104  0.645968

In [100]:
df1.loc['a','A'] #确切地获得一个值

1.4376268236232308

In [101]:
s = pd.DataFrame(list('abcde') , index=[0,3,2,5,4])
#index 是label的
s

   0
0  a
3  b
2  c
5  d
4  e

In [103]:
s.loc[3:5] #包含区间的两端

   0
3  b
2  c
5  d

In [104]:
s.loc[1:6] #如果两者中至少有一个缺失，
#但索引是有序的，并且可以与开始和停止标签进行比较，
#然后切片仍按预期工作，通过选择在两者之间排序的标签
#所以下面进行排序后就可以正常访问了

KeyError: 1

In [105]:
s.sort_index().loc[1:6]

   0
2  c
3  b
4  e
5  d

# selection by position