In [1]:
import numpy as np
import pandas as pd

different choices for indexing

In [9]:
df = pd.DataFrame({'A':[1,2,3,4,5] ,
                  'B':[5,6,7,8,9]} , index=[1,'fei',3,4,5])

In [10]:
df

     A  B
1    1  5
fei  2  6
3    3  7
4    4  8
5    5  9

In [11]:
df.loc['fei']

A    2
B    6
Name: fei, dtype: int64

In [12]:
df.loc[['fei',1]]

     A  B
fei  2  6
1    1  5

In [20]:
df.loc[1:3] #noted 这里的切片包含两边区间端点

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>

loc基于label的
iloc基于index integer的

In [21]:
df.iloc[1]

A    2
B    6
Name: fei, dtype: int64

In [22]:
df.iloc[[1,2,3]]

     A  B
fei  2  6
3    3  7
4    4  8

In [23]:
df.iloc[1:4]

     A  B
fei  2  6
3    3  7
4    4  8

In [25]:
df.iloc[[True,True,False,True,False]]

     A  B
1    1  5
fei  2  6
4    4  8

In [31]:
df.loc['fei' , :'A']#包括区间两端

A    2
Name: fei, dtype: int64

In [32]:
#df.loc[row_indexer , column_indexer]

## Basic

In [33]:
dates = pd.date_range('1/1/2000' , periods=8)
df = pd.DataFrame(np.random.randn(8,4) , index=dates , columns=['A','B','C','D'])
df

                   A         B         C         D
2000-01-01  0.063820  1.047226  0.307098 -1.178538
2000-01-02 -0.195371 -1.137979  0.532401 -1.722731
2000-01-03  1.991342 -0.832638 -1.069783 -0.777746
2000-01-04 -0.331226  0.509602  1.639040 -0.755916
2000-01-05 -1.480722 -0.632934 -1.158568  0.626273
2000-01-06 -0.621602  0.961984  0.417753  0.071832
2000-01-07 -0.927998 -0.192864 -0.202609 -0.695799
2000-01-08  1.396719  0.466507  0.824763 -1.009528

In [35]:
type(dates[1])

pandas._libs.tslib.Timestamp

In [36]:
s = df['A']

In [38]:
s[dates[5]]

-0.62160221725991505

In [39]:
panel = pd.Panel({'one':df , 'two':df-df.mean()})

In [41]:
panel['one']

                   A         B         C         D
2000-01-01  0.063820  1.047226  0.307098 -1.178538
2000-01-02 -0.195371 -1.137979  0.532401 -1.722731
2000-01-03  1.991342 -0.832638 -1.069783 -0.777746
2000-01-04 -0.331226  0.509602  1.639040 -0.755916
2000-01-05 -1.480722 -0.632934 -1.158568  0.626273
2000-01-06 -0.621602  0.961984  0.417753  0.071832
2000-01-07 -0.927998 -0.192864 -0.202609 -0.695799
2000-01-08  1.396719  0.466507  0.824763 -1.009528

In [42]:
df[['A','D']]

                   A         D
2000-01-01  0.063820 -1.178538
2000-01-02 -0.195371 -1.722731
2000-01-03  1.991342 -0.777746
2000-01-04 -0.331226 -0.755916
2000-01-05 -1.480722  0.626273
2000-01-06 -0.621602  0.071832
2000-01-07 -0.927998 -0.695799
2000-01-08  1.396719 -1.009528

In [43]:
df[['B' , 'A']] = df[['A' , 'B']] #交换两列

In [44]:
df

                   A         B         C         D
2000-01-01  1.047226  0.063820  0.307098 -1.178538
2000-01-02 -1.137979 -0.195371  0.532401 -1.722731
2000-01-03 -0.832638  1.991342 -1.069783 -0.777746
2000-01-04  0.509602 -0.331226  1.639040 -0.755916
2000-01-05 -0.632934 -1.480722 -1.158568  0.626273
2000-01-06  0.961984 -0.621602  0.417753  0.071832
2000-01-07 -0.192864 -0.927998 -0.202609 -0.695799
2000-01-08  0.466507  1.396719  0.824763 -1.009528

In [ ]:
df.loc[: , ['B','A']] = df[['A' , 'B']] #不会发生交换
df.loc[: , ['B','A']] = df[['A' , 'B']].values #能交换 正确操作

# attribute access

In [45]:
#点 · 运算符进行访问
#类似访问成员变量 成员函数
sa = pd.Series([1,2,3] , index=list('abc'))
dfa = df.copy()

In [46]:
sa.b

2

In [48]:
dfa.A

2000-01-01    1.047226
2000-01-02   -1.137979
2000-01-03   -0.832638
2000-01-04    0.509602
2000-01-05   -0.632934
2000-01-06    0.961984
2000-01-07   -0.192864
2000-01-08    0.466507
Freq: D, Name: A, dtype: float64

In [50]:
panel.one

                   A         B         C         D
2000-01-01  0.063820  1.047226  0.307098 -1.178538
2000-01-02 -0.195371 -1.137979  0.532401 -1.722731
2000-01-03  1.991342 -0.832638 -1.069783 -0.777746
2000-01-04 -0.331226  0.509602  1.639040 -0.755916
2000-01-05 -1.480722 -0.632934 -1.158568  0.626273
2000-01-06 -0.621602  0.961984  0.417753  0.071832
2000-01-07 -0.927998 -0.192864 -0.202609 -0.695799
2000-01-08  1.396719  0.466507  0.824763 -1.009528

In [51]:
#还可以直接进行赋值 重新进行赋值
sa.a=5

In [52]:
sa

a    5
b    2
c    3
dtype: int64

In [53]:
dfa.A = list(range(len(dfa.index)))
#dfs['A'] 进行赋值 如果column不存在 直接创建新的column

In [54]:
dfa

            A         B         C         D
2000-01-01  0  0.063820  0.307098 -1.178538
2000-01-02  1 -0.195371  0.532401 -1.722731
2000-01-03  2  1.991342 -1.069783 -0.777746
2000-01-04  3 -0.331226  1.639040 -0.755916
2000-01-05  4 -1.480722 -1.158568  0.626273
2000-01-06  5 -0.621602  0.417753  0.071832
2000-01-07  6 -0.927998 -0.202609 -0.695799
2000-01-08  7  1.396719  0.824763 -1.009528

In [56]:
range(2)

range(0, 2)

In [57]:
x = pd.DataFrame({'x':[1,2,3] , 'y':[3,4,5]})

In [58]:
x

   x  y
0  1  3
1  2  4
2  3  5

In [63]:
x.iloc[1] = dict(x=9 , y=9)

In [64]:
x

   x  y
0  1  3
1  9  9
2  3  5

In [65]:
df = pd.DataFrame({'one':[1,2,3]})
df.two = [4,5,6]

In [66]:
df #不允许给不存在的column分配值

   one
0    1
1    2
2    3

# slicing ranges

In [67]:
#这里的切片技术[] 和ndarray是一样的

In [69]:
type(s)

pandas.core.series.Series

In [70]:
s

2000-01-01    1.047226
2000-01-02   -1.137979
2000-01-03   -0.832638
2000-01-04    0.509602
2000-01-05   -0.632934
2000-01-06    0.961984
2000-01-07   -0.192864
2000-01-08    0.466507
Freq: D, Name: A, dtype: float64

In [71]:
s[1]

-1.1379788894599452

In [72]:
s[::-1] #逆序

2000-01-08    0.466507
2000-01-07   -0.192864
2000-01-06    0.961984
2000-01-05   -0.632934
2000-01-04    0.509602
2000-01-03   -0.832638
2000-01-02   -1.137979
2000-01-01    1.047226
Freq: -1D, Name: A, dtype: float64

In [73]:
s2 = s.copy()

In [74]:
s2

2000-01-01    1.047226
2000-01-02   -1.137979
2000-01-03   -0.832638
2000-01-04    0.509602
2000-01-05   -0.632934
2000-01-06    0.961984
2000-01-07   -0.192864
2000-01-08    0.466507
Freq: D, Name: A, dtype: float64

In [75]:
s2[:5] = 0

In [76]:
s2

2000-01-01    0.000000
2000-01-02    0.000000
2000-01-03    0.000000
2000-01-04    0.000000
2000-01-05    0.000000
2000-01-06    0.961984
2000-01-07   -0.192864
2000-01-08    0.466507
Freq: D, Name: A, dtype: float64

In [77]:
#dataframe也可以进行切片操作
#是以row的角度进行切片的

In [78]:
df[:3]

   one
0    1
1    2
2    3

In [80]:
df[::-1]

   one
2    3
1    2
0    1

# selection by label

In [81]:
#方法是否返回引用或副本 取决上下文
#loc方法是严格的
df1 = pd.DataFrame(np.random.randn(5,4),
                  columns=list('ABCD'),
                  index=pd.date_range('2013/1/1' ,periods=5))

In [82]:
df1

                   A         B         C         D
2013-01-01 -1.504521  0.293673  0.551816  1.559645
2013-01-02 -2.032191  0.732975  0.132485 -0.244237
2013-01-03  0.165844  0.362301 -0.447574  0.527044
2013-01-04  1.238460 -0.362937 -1.134628  0.967770
2013-01-05 -2.182242 -0.593832  0.765212 -0.129836

In [83]:
df1.loc[2:3] #不能访问 loc需要label进行访问

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.datetimes.DatetimeIndex'> with these indexers [2] of <class 'int'>

In [85]:
df1.loc['20130102' : '20130104'] #注意这里 包括区间两端

                   A         B         C         D
2013-01-02 -2.032191  0.732975  0.132485 -0.244237
2013-01-03  0.165844  0.362301 -0.447574  0.527044
2013-01-04  1.238460 -0.362937 -1.134628  0.967770

# loc对于series的作用效果

In [86]:
s1 = pd.Series(np.random.randn(6) , index=list('abcdef'))
s1

a    0.446619
b   -1.248144
c   -0.179668
d   -1.476345
e   -1.012762
f    0.018159
dtype: float64

In [87]:
s1.loc['c':]

c   -0.179668
d   -1.476345
e   -1.012762
f    0.018159
dtype: float64

In [ ]:
s1.loc['b']
s1.loc['c':] = 0 #重新赋值

# dataframe的loc作用

In [88]:
df1 = pd.DataFrame(np.random.randn(6,4) ,
                  index=list('abcdef'),
                  columns=list('ABCD'))

df1

          A         B         C         D
a  1.437627  0.301227  1.985065 -0.893177
b  0.274814  0.246818  1.629151 -0.136928
c  0.201216  0.427174 -0.745985  0.872468
d  0.368887 -0.716919 -1.163343 -0.119478
e  0.912222 -1.299536 -0.577605  1.854406
f  0.636869 -1.507104  0.645968 -1.497702

In [90]:
df1.loc[['a','b','c'] , :]

          A         B         C         D
a  1.437627  0.301227  1.985065 -0.893177
b  0.274814  0.246818  1.629151 -0.136928
c  0.201216  0.427174 -0.745985  0.872468

In [92]:
#切片访问
df1.loc['d': , 'A':'C'] #loc 的数据访问 是包含区间两端的

          A         B         C
d  0.368887 -0.716919 -1.163343
e  0.912222 -1.299536 -0.577605
f  0.636869 -1.507104  0.645968

In [93]:
df1.loc['a']

A    1.437627
B    0.301227
C    1.985065
D   -0.893177
Name: a, dtype: float64

In [94]:
df1.loc['a'] > 0

A     True
B     True
C     True
D    False
Name: a, dtype: bool

In [99]:
df1.loc[: , df1.loc['a']>0]

          A         B         C
a  1.437627  0.301227  1.985065
b  0.274814  0.246818  1.629151
c  0.201216  0.427174 -0.745985
d  0.368887 -0.716919 -1.163343
e  0.912222 -1.299536 -0.577605
f  0.636869 -1.507104  0.645968

In [100]:
df1.loc['a','A'] #确切地获得一个值

1.4376268236232308

In [101]:
s = pd.DataFrame(list('abcde') , index=[0,3,2,5,4])
#index 是label的
s

   0
0  a
3  b
2  c
5  d
4  e

In [103]:
s.loc[3:5] #包含区间的两端

   0
3  b
2  c
5  d

In [104]:
s.loc[1:6] #如果两者中至少有一个缺失，
#但索引是有序的，并且可以与开始和停止标签进行比较，
#然后切片仍按预期工作，通过选择在两者之间排序的标签
#所以下面进行排序后就可以正常访问了

KeyError: 1

In [105]:
s.sort_index().loc[1:6]

   0
2  c
3  b
4  e
5  d

# selection by position
### iloc方法专门用来处理integer index的

In [3]:
s1 = pd.Series(np.random.randn(5) , index=list(range(0 , 10 , 2)))

In [4]:
s1

0    2.027861
2   -0.574508
4    0.543194
6    1.446235
8    1.418830
dtype: float64

In [5]:
s1.iloc[:3]

0    2.027861
2   -0.574508
4    0.543194
dtype: float64

In [6]:
s1.iloc[3]

1.446235213585666

In [7]:
df1 = pd.DataFrame(np.random.randn(6,4) , index=list(range(0,12,2)),
                  columns=list(range(0,8,2)))

In [8]:
df1

           0         2         4         6
0  -1.029884 -0.089590 -0.075493 -1.181861
2  -0.505041  0.790424  0.511221  1.513508
4  -0.797755  2.106631  0.566964 -1.229559
6  -0.537323 -0.915363  1.455733 -0.587428
8  -0.910330 -0.785910 -0.305164  1.216753
10 -1.182356  0.523430  2.561468 -2.022518

In [11]:
df1.iloc[[1,2]]

          0         2         4         6
2 -0.505041  0.790424  0.511221  1.513508
4 -0.797755  2.106631  0.566964 -1.229559

In [12]:
df1.iloc[:3]
df1.iloc[1:5 , 2:4] #第二项索引的是columns

          4         6
2  0.511221  1.513508
4  0.566964 -1.229559
6  1.455733 -0.587428
8 -0.305164  1.216753

In [16]:
df1.iloc[[1,3,5] , [1,3]]

           2         6
2   0.790424  1.513508
6  -0.915363 -0.587428
10  0.523430 -2.022518

In [17]:
df1.iloc[1:3 , :]

          0         2         4         6
2 -0.505041  0.790424  0.511221  1.513508
4 -0.797755  2.106631  0.566964 -1.229559

In [18]:
df1.iloc[: , 1:3]

           2         4
0  -0.089590 -0.075493
2   0.790424  0.511221
4   2.106631  0.566964
6  -0.915363  1.455733
8  -0.785910 -0.305164
10  0.523430  2.561468

In [19]:
df1.iat[1,1] #类似坐标的形式进行访问

0.79042433792132072

In [20]:
df1.iloc[1,1] #和上面的效果是一样的

0.79042433792132072

In [21]:
df1.iloc[1] #第一行（下标从0开始）

0   -0.505041
2    0.790424
4    0.511221
6    1.513508
Name: 2, dtype: float64

In [29]:
df1.xs(0) #使用integer index时 发生keyerror错误

0   -1.029884
2   -0.089590
4   -0.075493
6   -1.181861
Name: 0, dtype: float64

In [27]:
df1

           0         2         4         6
0  -1.029884 -0.089590 -0.075493 -1.181861
2  -0.505041  0.790424  0.511221  1.513508
4  -0.797755  2.106631  0.566964 -1.229559
6  -0.537323 -0.915363  1.455733 -0.587428
8  -0.910330 -0.785910 -0.305164  1.216753
10 -1.182356  0.523430  2.561468 -2.022518

In [30]:
s = pd.Series(list('abcdef'))

In [31]:
s

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [32]:
s.iloc[4:10]

4    e
5    f
dtype: object

In [33]:
s.iloc[8:10] #没有数据的位置 所以series为空了

Series([], dtype: object)

In [34]:
#dataframe 也能够应对索引不到的地方 就是数据为空
df1 = pd.DataFrame(np.random.randn(5,2) , columns=['A','B'])

In [35]:
df1

          A         B
0 -0.987380  0.227375
1  0.686471 -1.231866
2 -1.567710 -0.480599
3  0.268807  0.800421
4 -1.844136  0.492835

In [37]:
df1.iloc[: , 2:3] #只显示了index  因为没有数据可以显示

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [38]:
df1.iloc[: , 1:3]

          B
0  0.227375
1 -1.231866
2 -0.480599
3  0.800421
4  0.492835

In [39]:
df1.iloc[4:6]

          A         B
4 -1.844136  0.492835

In [40]:
df1.iloc[[4,5,6]]
df1.iloc[: , 4]
#上面的单独进行index的会出现indexerror 错误

IndexError: positional indexers are out-of-bounds

# selection by callable

loc iloc []  可以接受一个callable作为indexer 这个callable必须
接受一个参数 返回一个有效的indexing

In [41]:
#类似函数式编程
df1 = pd.DataFrame(np.random.randn(6,4),
                  index=list('abcdef'),
                  columns=list('ABCD'))

df1

          A         B         C         D
a  1.696818  0.226855  0.575728 -0.008358
b -1.788312 -0.360712  0.763664  0.855262
c -1.806216 -1.213388 -0.162982  1.184327
d -1.292345  0.106178 -0.485810  0.246714
e -0.722910 -0.616196  1.029282  0.506312
f  0.505675  1.964393  0.149400  0.285950

In [47]:
df1.loc[lambda df: df.A>0 , :]

          A         B         C         D
a  1.696818  0.226855  0.575728 -0.008358
f  0.505675  1.964393  0.149400  0.285950

In [44]:
df1.A>0

a     True
b    False
c    False
d    False
e    False
f     True
Name: A, dtype: bool

In [52]:
df1.loc[: , lambda df:['A' , 'B']]

          A         B
a  1.696818  0.226855
b -1.788312 -0.360712
c -1.806216 -1.213388
d -1.292345  0.106178
e -0.722910 -0.616196
f  0.505675  1.964393

In [53]:
df1.iloc[: , lambda df: [0,1]]

          A         B
a  1.696818  0.226855
b -1.788312 -0.360712
c -1.806216 -1.213388
d -1.292345  0.106178
e -0.722910 -0.616196
f  0.505675  1.964393

In [54]:
df1[lambda df1: df1.columns[0]]

a    1.696818
b   -1.788312
c   -1.806216
d   -1.292345
e   -0.722910
f    0.505675
Name: A, dtype: float64

In [62]:
#callable性质也可以使用在series上
df1.A.loc[lambda s: s>0]

a    1.696818
f    0.505675
Name: A, dtype: float64

In [63]:
df1

          A         B         C         D
a  1.696818  0.226855  0.575728 -0.008358
b -1.788312 -0.360712  0.763664  0.855262
c -1.806216 -1.213388 -0.162982  1.184327
d -1.292345  0.106178 -0.485810  0.246714
e -0.722910 -0.616196  1.029282  0.506312
f  0.505675  1.964393  0.149400  0.285950

In [66]:
df1.groupby(['A','B']).sum()

                            C         D
A         B
-1.806216 -1.213388 -0.162982  1.184327
-1.788312 -0.360712  0.763664  0.855262
-1.292345  0.106178 -0.485810  0.246714
-0.722910 -0.616196  1.029282  0.506312
 0.505675  1.964393  0.149400  0.285950
 1.696818  0.226855  0.575728 -0.008358

In [67]:
df1

          A         B         C         D
a  1.696818  0.226855  0.575728 -0.008358
b -1.788312 -0.360712  0.763664  0.855262
c -1.806216 -1.213388 -0.162982  1.184327
d -1.292345  0.106178 -0.485810  0.246714
e -0.722910 -0.616196  1.029282  0.506312
f  0.505675  1.964393  0.149400  0.285950

### ix成员方法已经废弃

In [71]:
df1.loc['a':'c' , 'A'] #loc包含区间的两端
df1.loc[['a','c'] , 'A'] #只有a c两行

a    1.696818
b   -1.788312
c   -1.806216
Name: A, dtype: float64

In [75]:
df1.iloc[[0 , 2] , [0,1]]

          A         B
a  1.696818  0.226855
c -1.806216 -1.213388

In [77]:
df1.iloc[[0,2] , df1.columns.get_indexer(['A','B'])]
df1.iloc[[0,2] , df1.columns.get_loc('A')]

a    1.696818
c   -1.806216
Name: A, dtype: float64

In [78]:
#使用loc[]可以进行元素的访问
#以前 如果一个index是无效的 那么数据会显示为NaN
#上面的规则已经被废弃
#现在如果index是无效的 那就会显示keyerror 错误

#现在如果会访问无效的index 请使reindex方法

In [79]:
s = pd.Series([1,2,3])

In [80]:
s

0    1
1    2
2    3
dtype: int64

In [82]:
s.loc[[1,2,3]] #看来这个版本还没有废除 也没有废除提示

1    2.0
2    3.0
3    NaN
dtype: float64

In [83]:
s.reindex([1,2,3])

1    2.0
2    3.0
3    NaN
dtype: float64

In [85]:
#可以使用下面的方法将无效的index筛掉
labels = [1,2,3]
s.loc[s.index.intersection(labels)]

1    2
2    3
dtype: int64

In [89]:
s = pd.Series(np.arange(4) , index = ['a','a','b','c'])
s

a    0
a    1
b    2
c    3
dtype: int32

In [90]:
lables = ['c','d']
s.reindex(labels) #reindex不能作用于出现重复index的情况 valueerror

ValueError: cannot reindex from a duplicate axis

In [91]:
s.loc[s.index.intersection(lables)].reindex(lables)

c    3.0
d    NaN
dtype: float64

In [92]:
labels = ['a','d']
s.loc[s.index.intersection(labels)].reindex(labels) #valueerror 重复的index

ValueError: cannot reindex from a duplicate axis

# selecting random samples

In [93]:
#sample函数能够进行采样
#sample函数默认是 选择行 随机选一些行

s = pd.Series([0,1,2,3,4,5])

In [95]:
s.sample()

3    3
dtype: int64

In [104]:
s.sample(n=3) #采样数量
#这里的n不能超过series的元素个数

5    5
0    0
2    2
dtype: int64

In [102]:
s.sample(frac=0.9) #采样的数量的占比

0    0
5    5
1    1
3    3
2    2
dtype: int64

In [105]:
#sample的元素一般情况没有重复的 但可以设置成有重复的
s.sample(n=7 , replace=True)

1    1
3    3
2    2
2    2
2    2
2    2
1    1
dtype: int64

In [110]:
#可以人为地指定每个元素的抽样的权重 权重越大 被抽样到的概率越大
example_weights = [0 , 0 , 0.2 , 0.2 , 0.2 , 0.4]
s.sample(n=3 , weights=example_weights)
#如果权重list有缺失值 就用0填充
#权重可以大于1  但不能是inf

2    2
5    5
3    3
dtype: int64

In [112]:
#dataframe可以一个column充当权重list
df2 = pd.DataFrame({'col1':[9,8,7,6] , 'weight_column':[0.5,0.4,0.1,0]})
df2

   col1  weight_column
0     9            0.5
1     8            0.4
2     7            0.1
3     6            0.0

In [113]:
df2.sample(n = 3 , weights='weight_column')

   col1  weight_column
1     8            0.4
0     9            0.5
2     7            0.1

In [118]:
df2.sample(n=1 , axis=1) #换轴了 进行采样

   weight_column
0            0.5
1            0.4
2            0.1
3            0.0

In [120]:
#可以设置采样的随机种子
df2.sample(n=2 , random_state=2)

   col1  weight_column
2     7            0.1
3     6            0.0

# setting with enlargement
# 放大作用 对数据进行扩张

In [121]:
se = pd.Series([1,2,3])
se

0    1
1    2
2    3
dtype: int64

In [122]:
se[5]=5.

In [123]:
se

0    1.0
1    2.0
2    3.0
5    5.0
dtype: float64

In [124]:
#dataframe的enlargement
dfi = pd.DataFrame(np.arange(6).reshape(3,2) , columns=['A','B'])
dfi

   A  B
0  0  1
1  2  3
2  4  5

In [127]:
dfi.loc[: , 'C'] = dfi.loc[: , 'A'] #添加一个新的column
dfi

   A  B  C
0  0  1  0
1  2  3  2
2  4  5  4

In [128]:
dfi.loc['fei'] = 5 #添加一个新的index label
dfi

     A  B  C
0    0  1  0
1    2  3  2
2    4  5  4
fei  5  5  5