In [1]:
import pandas as pd
import numpy as np

In [2]:
panda = pd.read_csv('../pandas/Pokemon.csv')

#1 Series

In [3]:
#===
#Series
#s = pd.Series(data , index=index)

NameError: name 'data' is not defined

In [4]:
#ndarray constract
s = pd.Series(np.random.randn(5) , index = ['a' , 'b' , 'c' , 'd' , 'e'])

In [5]:
s

a   -0.696096
b    0.140841
c    1.726179
d   -2.596317
e   -0.055187
dtype: float64

In [6]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [7]:
#不认为指定index时
#pandas的索引可能出现重复值
pd.Series(np.random.randn(5))

0    0.532948
1   -0.202167
2   -0.246709
3    0.641984
4    0.005560
dtype: float64

In [8]:
#dict construct
d = {'a':0. , 'b':1. , 'c':2.}
pd.Series(d)

a    0.0
b    1.0
c    2.0
dtype: float64

In [9]:
pd.Series(d , index = ['b','c','d','a'])
#NaN是缺失值的标记符号

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [10]:
pd.Series(5. , index = ['a,','b']) #data为标量时 index必须指定

a,    5.0
b     5.0
dtype: float64

series is like ndarray

In [11]:
#Series也可以做大多数numpy函数的参数
s[0]

-0.69609598861859434

In [12]:
s[s>s.median()]

b    0.140841
c    1.726179
dtype: float64

In [13]:
s[[4,2,1]] # 返回tuple指定的index的值

e   -0.055187
c    1.726179
b    0.140841
dtype: float64

In [18]:
s

a   -0.696096
b    0.140841
c    1.726179
d   -2.596317
e   -0.055187
dtype: float64

In [19]:
np.exp(s)

a    0.498528
b    1.151242
c    5.619144
d    0.074548
e    0.946309
dtype: float64

In [17]:
#series is like dict
#就当成一个dict使用就ok

In [24]:
s['a']

-0.69609598861859434

In [25]:
#还可以认为改变值
s['a'] =52
s

a    52.000000
b     0.140841
c     1.726179
d    -2.596317
e    -0.055187
dtype: float64

In [26]:
'a' in s

True

In [27]:
'f' in s

False

In [28]:
s['f']

KeyError: 'f'

In [29]:
s.get('r' , default=np.nan)

nan

In [31]:
#series可以直接操作

In [32]:
s+s

a    104.000000
b      0.281683
c      3.452359
d     -5.192634
e     -0.110373
dtype: float64

In [33]:
s*2

a    104.000000
b      0.281683
c      3.452359
d     -5.192634
e     -0.110373
dtype: float64

In [34]:
s[1:]+s[:-1]

a         NaN
b    0.281683
c    3.452359
d   -5.192634
e         NaN
dtype: float64

In [41]:
s[1:] + s # + - * /都可以
#dropna函数可以删除缺少数据的标签

a         NaN
b    0.281683
c    3.452359
d   -5.192634
e   -0.110373
dtype: float64

In [45]:
s = pd.Series(np.random.randn(5) , name='something')
#series的name 有时候可以自动获得 比如从dataframe结构中

In [46]:
s

0   -1.485615
1   -0.547103
2   -0.643320
3    0.292246
4    0.556298
Name: something, dtype: float64

In [47]:
s.name

'something'

In [48]:
s2 = s.rename('different')
#s and s2是不同的对象

In [51]:
s2.name

'different'

#DataFrame
#========

In [ ]:
#=======
#从series or dict构造dataframe

In [53]:
d = {'one':pd.Series([1. , 2. , 3.] , index=['a','b','c']),
     'two':pd.Series([1.,2.,3.,4.] , index=['a','b','c','d'])}
#这种构造方法 各个series的长度可以不相同
df = pd.DataFrame(d)

In [54]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [55]:
pd.DataFrame(d , index=['d','b','a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [57]:
pd.DataFrame(d , index = ['d' , 'b' , 'a'] , columns=['two' , 'three','f']) #后面也可以试一下添加了一个'f'

   two three    f
d  4.0   NaN  NaN
b  2.0   NaN  NaN
a  1.0   NaN  NaN

In [58]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [59]:
df.columns

Index(['one', 'two'], dtype='object')

In [60]:
#====
#使用ndarrays & lists构造dataframe
d = {'one':pd.Series([1.,2.,3.] , index=['a','b','c']),
     'two':pd.Series([1.,2.,3.,4.] , index=['a','b','c','d'])}

In [63]:
df = pd.DataFrame(d) #d is a dict

In [62]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [64]:
pd.DataFrame(d , index=['d' , 'b' , 'a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [65]:
pd.DataFrame(d , index=['d','b','a'] , columns=['two' , 'three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [68]:
#===list ndarray
d = {'one':[1.,2.,3.,4.],
     'two':[4.,3.,2.,1.]}
#上面的各个list的长度必须是相同的
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [72]:
pd.DataFrame(d , index=['a','b','c','d'])

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

In [91]:
#====
#from structured or recored array to construct dataframe
data = np.zeros((2,) , dtype=[('A' , 'i4'),('B' , 'f4'),('C' , 'a10')])

In [97]:
data

array([(0,  0., b''), (0,  0., b'')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [98]:
data[:] = [(1,2.,'hello') , (2,3.,'world')]

In [99]:
data

array([(1,  2., b'hello'), (2,  3., b'world')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [79]:
pd.DataFrame(data)

   0  1     2
0  1  3   fei
1  3  5  haha

In [78]:
data=[(1,3,'fei') , (3,5,'haha')]
pd.DataFrame(data)

   0  1     2
0  1  3   fei
1  3  5  haha

In [81]:
pd.DataFrame(data , columns=['C','A','B'])

   C    A      B
0  1  2.0  hello
1  2  3.0  world

In [82]:
#dataframe和2维ndarray的工作方式不同

In [83]:
data2 = [{'a':1 , 'b':2} , {'a':5 , 'b':10,'c':20}]
pd.DataFrame(data2)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [84]:
pd.DataFrame(data2 ,index=['first','second'])

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [85]:
pd.DataFrame(data2 , columns=['a' , 'b'])

   a   b
0  1   2
1  5  10

In [86]:
#dict of tuple
pd.DataFrame({('a','b'):{('A','B'):1 , ('A','C'):2},
              ('a','a'):{('A','C'):1 , ('A','C'):2}
             })

       a
       a  b
A B  NaN  1
  C  2.0  2

In [87]:
#缺失值可以使用np.nan(缺失值) 或者np.MaskedArray（可以构造dataframe）

In [100]:
data

array([(1,  2., b'hello'), (2,  3., b'world')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [101]:
ss = pd.DataFrame.from_records(data , index='C')

In [102]:
ss.index

Index([b'hello', b'world'], dtype='object', name='C')

In [103]:
ss.columns

Index(['A', 'B'], dtype='object')

In [104]:
ss

          A    B
C
b'hello'  1  2.0
b'world'  2  3.0

In [105]:
pd.DataFrame.from_items([('A',[1,2,3]) , ('B' , [4,5,6])]) #list in tuple in list 'A' 'B'是column

   A  B
0  1  4
1  2  5
2  3  6

In [107]:
pd.DataFrame.from_items([('A' , [1,2,3]) , ('B' , [4,5,6])] , orient='index' , columns=['one' , 'two' , 'three']) #使用了orient参数 将'A' 'B'变为index 但必须人为地添加columns

   one  two  three
A    1    2      3
B    4    5      6

In [ ]:
#ended Column selection, addition, deletion