In [26]:
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import KFold

from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import AdaBoostClassifier

In [2]:
train_data = pd.read_csv('dataset.csv')

In [4]:
train_data.describe()

              order         input        output      platform
count  10000.000000  10000.000000  10000.000000  10000.000000
mean   19966.230300    251.606600    249.348400      2.946600
std    11504.291875    143.897919    143.890965      1.517755
min       16.000000      1.000000      1.000000      1.000000
25%     9981.250000    127.000000    126.000000      2.000000
50%    19802.500000    254.000000    250.500000      3.000000
75%    30064.000000    376.000000    373.000000      4.000000
max    39997.000000    499.000000    499.000000      5.000000

In [5]:
train_data['order'].mean()

19966.2303

In [6]:
train_data['order'].std()

11504.291874827235

In [7]:
train_data['order_norm'] = (train_data['order'] - train_data['order'].mean()) / train_data['order'].std()

In [9]:
train_data.describe()

              order         input        output      platform    order_norm
count  10000.000000  10000.000000  10000.000000  10000.000000  1.000000e+04
mean   19966.230300    251.606600    249.348400      2.946600  3.451461e-16
std    11504.291875    143.897919    143.890965      1.517755  1.000000e+00
min       16.000000      1.000000      1.000000      1.000000 -1.734155e+00
25%     9981.250000    127.000000    126.000000      2.000000 -8.679352e-01
50%    19802.500000    254.000000    250.500000      3.000000 -1.423211e-02
75%    30064.000000    376.000000    373.000000      4.000000  8.777394e-01
max    39997.000000    499.000000    499.000000      5.000000  1.741156e+00

In [10]:
train_data['input_norm'] = (train_data['input'] - train_data['input'].mean()) / train_data['input'].std()
train_data['output_norm'] = (train_data['output'] - train_data['output'].mean()) / train_data['output'].std()

In [11]:
train_data.head()

   order  input  output  platform  order_norm  input_norm  output_norm
0  39997      3      48         2    1.741156   -1.727659    -1.399312
1  39858    490     105         5    1.729074    1.656684    -1.003179
2  39882    446     140         5    1.731160    1.350912    -0.759939
3  39916    430     214         5    1.734115    1.239722    -0.245661
4  39896    432     382         5    1.732377    1.253621     0.921890

In [27]:
#model = SVC()
#model = DecisionTreeClassifier()
#model = GaussianNB()
model = AdaBoostClassifier()

In [28]:
kf = KFold(n_splits=10 , shuffle=True)

In [29]:
for train , test in kf.split(train_data):
    model.fit(train_data.loc[train , ['order_norm' , 'input_norm' , 'output_norm']] , train_data.loc[train , 'platform'])
    score = model.score(train_data.loc[test , ['order_norm' , 'input_norm' , 'output_norm']] , train_data.loc[test , 'platform'])
    print(score)

0.239
0.23
0.225
0.237
0.211
0.246
0.224
0.219
0.242
0.242

In [ ]:
train_data.unstack()